html, body
{
  margin: 0;
  padding: 0;
  font-family: Arial,serif,sans-serif;
  border-left: 10px solid black;
  border-right: 10px solid black;
  z-index: -1;
}
main
{
  margin: auto;
}

.myVideo
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
}
h1
{
  color: #fff;
  font-size: 2.8em;
  margin: 0;
}
h2
{
  color: #fff;
}
/*welkom in het midden van de video zetten*/
.TitleVid
{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
}
h4
{
  text-align: center;
}
article
{
  margin-left: 1%;
  padding: 0;
  font-size: 1em;
}
img
{
  width: 300px;
  height: 200px;
}
#Maincontent,#Sport,#Contact
{
  background-color: #AAA;
  border-bottom: 10px solid black;
  border-top: 10px solid black;
}
#Secondarycontent,#Referal
{
  background-color: #f5f5f5;
}
.vetgedrukt
{
  font-weight: bold;
}
.NieuwePar
{
  margin-top: 4%;
}
.WebsiteHeader
{
  margin: 0;
  padding: 0.5em 0;
  background-color: #444;
  text-align: center;
  display: block;
}
.mainHeader
{
  position: relative;
  text-align: center;
}
.mainHeaderImage
{
  margin-top: 1%;
  width: 300px;
  height: 200px;
  opacity: 0.3;
}
.secondTitle,.sportTitle
{
  margin-bottom: 5%;
  text-align: center;
  color: #000;
  font-size: 2em;
}
.eersteRegel
{
  margin-top: 2%;
}
.mainTitle
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 2em;
}
.mainContentImage
{
  width: 300px;
  height: 250px;
}
.footerText
{
  margin-top: 2%;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 2px solid #2699FB;
  font-weight: bold;
  font-size: 1.1em;
}
ol
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  list-style: none;
  margin-left: 5%;
  padding: 0;
}
.Nav
{
  float: left;
}
.Nav a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid #2699FB;
}
.Nav a:hover
{
  background-color: #2699FB;
}
.textImg
{
  max-width: 300px;
  line-height: 150%;
}
aside
{
  text-align: center;
  border-bottom: 10px solid black;
}
.imgAside
{
  width: 300px;
  height: 200px;
}
@font-face
{
  font-family: "Martial Arts";
  src: url("../fonts/njnaruto.ttf");
}
.headerAside
{
  font-family: "Martial Arts";
  color: #000;
  text-align: center;
}
.aside
{
  color: #000;
  text-decoration: none;
}
form
{
  margin: 0;
  padding: 1.2em;
  width: 30%;
  margin-left: 35%;
}
legend
{
  font-size: 2em;
  text-align: center;
}
input, textarea, button
{
  font-size: 1em;
  padding: 0.8em;
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
textarea
{
  font-family: Arial, sans-serif;
  height: 100px;
  margin-bottom: 1em;
}
.CopyRName
{
  text-align: center;
}
@media (max-width: 1180px) and (min-width: 800px)
{
  video
  {
    margin-top: 0%;
    height: auto;
    transform: none;
  }
  .Nav
  {
    float: none;
    width: 100%;
  }
  ol
  {
    grid-template-columns: 1fr;
    margin-left: 30%;
  }
  form
  {
    width: 85%;
    margin-left: 0;
  }
  #Maincontent
  {
    margin-top: 100%;
  }
  .myVideo
  {
    position: absolute;
    width: 100%;
    min-width: 20%;
    margin-right: 5%;
  }
}
@media(max-width: 800px)
{
  .Nav
  {
    float: none;
    width: 100%;
  }
  ol
  {
    grid-template-columns: 1fr;
    margin: 0 2em;
  }
  form
  {
    width: 85%;
    margin-left: 0;
  }
  #Maincontent
  {
    margin-top: 130%;
  }
  .myVideo
  {
    position: absolute;
    width: 90%;
    height: auto;
    margin-right: 5%;
    z-index: -2;
  }
}
