html, body
{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
h1
{
  color: #fff;
  font-size: 2.8em;
  margin: 0;
}
article
{
  margin-left: 1%;
  padding: 0;
  font-size: 1em;
}
.WebsiteHeader
{
  margin: 0;
  padding: 0.5em 0;
  background-color: #444;
  text-align: center;
  display: block;
}
.mainHeader
{
  position: relative;
  text-align: center;
}
.mainHeaderImage
{
  margin-top: 1%;
  width: 300px;
  height: 200px;
  opacity: 0.3;
}
.mainTitle
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 2em;
}
.mainContentImage
{
  width: 350px;
  height: 250px;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 2px solid #2699FB;
  font-weight: bold;
  font-size: 1.1em;
}
ol
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  list-style: none;
  margin-left: 5%;
  padding: 0;
}
.Nav
{
  float: left;
}
.Nav a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid #2699FB;
}
li a:hover
{
  background-color: #2699FB;
}
aside
{
  float: right;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.headerAside
{
  color: #000;
}
form
{
  margin: 0;
  padding: 1.2em;
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;
}
legend
{
  font-size: 2em;
  text-align: center;
}
input, textarea
{
  font-size: 1em;
  padding: 0.8em;
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
textarea
{
  font-family: Arial, sans-serif;
  height: 100px;
  margin-bottom: 1em;
}
.CopyRName
{
  padding: auto;
  padding-left: 5%;
}
